<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
	<test thread-count="5" name="Test1" enabled="false">
		<parameter name="URL" value="http://the-internet.herokuapp.com/windows"></parameter>
		<classes>
			<class name="com.selenium.practice.tests.MultipleWindowsTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test2" enabled="false">
		<parameter name="URL"
			value="http://the-internet.herokuapp.com/drag_and_drop"></parameter>
		<classes>
			<class name="com.selenium.practice.tests.DragNDropTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test3"  enabled="false">
		<parameter name="URL" value="http://the-internet.herokuapp.com/iframe"></parameter>
		<classes>
			<class name="com.selenium.practice.tests.IFrameTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Test4">
		<parameter name="URL" value="http://the-internet.herokuapp.com/nested_frames"></parameter>
		<classes>
			<class name="com.selenium.practice.tests.NestedFrameTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
